.section-text-top{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
}
.section-text-top h2{
    font-size: 2.5rem;
}
.section-text-top p{
    max-width: 650px;
    width: 100%;
}
.section-icon{
    display: flex;
    gap: 15px;
}
.section-container-top-text{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 30px;
}
.section-container-top-text h3{
    cursor: pointer;
}
.Work-block{
    width: 100%;
    max-width: 550px;
}
.section-container-block{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.Work-block img{
    width: 100%;
    object-fit: cover;
}

.Work-block{

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.p-element{
    cursor: pointer;
}
.section-container-block{
    padding: 50px 0;
}
.h3-element-active{
    color: blue;
}
.section-end{
    padding: 80px 0 ;
    gap: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.section-end a{
    padding: 10px 40px ;
    background-color: #FCD980;
    color: black;
    border-radius: 20px;
}
.section-end p {
    width: 100%;
    max-width: 600px;
}
.section-end h2{
    font-weight:bold;
    font-size: 2.5rem;
    width: 100%;
    max-width: 600px;
}
.section-row-icon{
    align-items: center;
    display: flex;
    gap: 10px;
}
.section-row-icon:hover i{
    position: relative;
    animation: myanim 2s infinite;
}
.Container-Work{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 100px;
}
.block ul{
    padding: 0px 30px;
}
.block ul li{
    position: relative;
}
.block ul li::after{
    position: absolute;
    top: 10px;
    background-color: rgba(0, 0, 0, 0.659);
    left: -20px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    content: "";
}
.block h2{
    width:100%;
    max-width:600px !important ;
}
.block{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.block img{
    width: 100%;
}
@keyframes myanim{
    0% {left: 0px;}
    50% {left: 10px;}
    100% {left: 0px;}
  }
  .container-block-id{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .container-block-id h2{
    font-size: 30px;
    width: 100%;
    max-width: 400px;
  }
  .container-block-id p{
    width: 100%;
    max-width: 800px;
  }
  .container-bottom-block{
    height: auto;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin: 40px 0;
  }
  .container-row-block{
    padding:  20px 10px;
    display: flex;
    flex-direction: column;
    gap:7px;
  }