.Container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 50px 200px;
}
.block h2{
    font-size: 2.2rem;
}
.block{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.block ul{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.block ul li{
    position: relative;
}
.block ul li::after{
    position: absolute;
    top: 10px;
    background-color: rgba(0, 0, 0, 0.659);
    left: -20px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    content: "";
}
@media(max-width:900px){
    .Container{
        padding:50px;
    }
}
@media(max-width:520px){
    .Container{
        padding:10px;
    }
}
