body {
  margin: 0;
  padding: 0;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Big-container {
  padding: 0px 150px;
}
.content {
  padding: 100px 0;
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.content-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 450px;
}
.content-left h2 {
  font-size: 2.5rem;
}
.content-right img {
  width: 100%;
}
.content-right {
  width: 100%;
  max-width: 500px;
}
.content-container-bottom {
  background-color: #f4f5f5;
  align-items: center;
  padding: 50px;
  display: flex;
  gap: 50px;
}
.content-bottom-right {
  padding-top: 20px;
}
.content-bottom img {
  width: 100%;
}

/* ---section--- */
.section-block-container {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.section-top {
  padding: 80px 0;
}
.section-top-h2 {
  text-align: center;
  font-size: 2.5rem;
}
.section-block {
  width: 100%;
  max-width: 300px;
}
.section-block-top-row {
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.section-block-item {
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 50%;
}
.section-block-border {
  border-style: dashed;
  border-top: 1px;
  border-color: #2405f2;
  opacity: 0.4;
  width: 70%;
  height: 1px;
}
.section-center {
  background-color: #eef4fa;
}
.section-center-container {
  padding: 70px 0;
}
.section-center-row {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.section-center-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.section-center-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 500px;
}
.section-center-left h2 {
  font-size: 2.5rem;
}
.section-center-left p {
  opacity: 0.7;
}
.section-center-right img {
  width: 100%;
}
.section-end-top-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-end {
  padding: 70px 0;
}
.section-end-top-text h2 {
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
  max-width: 500px;
}
.card-about {
  margin-top: 50px;
  width: 100%;
  max-width: 380px;
  background-color: #f4f6fc;
  padding: 30px;
}
.card-about h2 {
  padding: 10px 0;
}

/* ----page---- */
.page-container {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: center;
}
.page-row {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.page-row h2 {
  font-weight: bold;
  font-size: 2rem;
}

/* ----asdie---- */
.aside-top-text h2 {
  text-align: center;
  font-size: 2.2rem;
}
.aside-team-block {
  text-align: center;
}
.aside-team-block p {
  padding: 5px 0px;
}
.aside-team-container {
  padding: 50px 0;
  display: flex;
  gap: 40px;
  justify-content: space-between;
}


.aside-img{
  height: 170px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.aside-hover{
  color: white;
  display: flex;
  gap: 10px;
  align-items: flex-end;
  justify-content: center;
}
.aside-hover {
  overflow: hidden;
  transition: 0.5s;
  bottom: 0;
  height: 0;
  width: 100%;
  border-radius: 50%;
  background: rgba(7, 81, 255, 0.519);
  background: linear-gradient(0deg, rgba(7, 81, 255, 0.523) 12%, rgba(7,83,255,0.23021708683473385) 47%, rgba(7,83,255,0.0845588235294118) 59%, rgba(7,83,255,0) 71%);
  position: absolute;
}
.aside-img:hover .aside-hover {
  padding-bottom: 20px;
  cursor: pointer;
  height: 100%;
}
