body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
html{
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ---header--- */
header{
    padding: 10px;
    background-color: 
    #1C1E53;
}
.Big-container{
    padding: 0px 150px;
}
.header-container{
    align-items: center;
    gap: 40px;
    display: flex;
    justify-content: space-between;
}
.header-top-left{
    color: #FFFFFF;
}
.header-top-right{
    display: flex;
    gap: 50px;
}
.header-top-right ul{
    align-items: center;
    display: flex;
    gap: 20px;
}
.header-top-right ul a{
    transition: .4s;
    color: 
    #FFFFFF;
}
.header-top-right ul a:hover{
    opacity: 0.7;
}
.tage-a{
    transition: .6s;
    color: white;
    padding: 10px 40px;
    border: 1px solid 
    #f4f6fc43;
    border-radius: 20px;
}
.tage-a:hover{
    background-color:#FCD980;
    color: black;
}

/* ----navbar---- */
nav{
    padding:80px 0px;
    background-color: #1C1E53;
}
.nav-container{
    align-items: center;
    justify-content: space-between;
    display: flex;
    gap: 40px;
}
.nav-left{
    width: 100%;
    max-width: 450px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.nav-left p{
    opacity: 0.7;
}
.nav-left h2{
    font-size: 3rem;
    width: 100%;
    max-width: 350px;
}
.nav-left-row{
    align-items: center;
    display: flex;
    gap: 30px;
}
.nav-left-row h3{
    cursor: pointer;
    color: black;
    padding: 10px 30px ;
    border-radius: 20px ;
    background-color: 
    #FCD980;
}
.nav-left-icon-row{
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
}
/* ---content---- */
.content{
    padding: 50px 0;
    display: flex;
    gap: 100px;
}
.content p{
    color: 
    #282938;
}
.content-left-row h4 , .content-left-row i{
    color: 
    #2405F2;
}
.content-left h2{
    font-size: 2.4rem;
}
.content-left{
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.content-left-row{
    display: flex;
    align-items: center;
    gap: 10px;
}
.content-right{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.content-right-row{
    display: flex;
    gap: 35px;
}
.content-block h3{
    font-size: 25px;
}
.content-block p{
 padding: 8px 0px;
}

/* -project- */
.project{
    width: 100%;
    padding: 70px 0;
}
.project-top-text{
    display: flex;
    justify-content: space-between;
}
.project-container {
    padding-top: 40px;
}
.project-top-text h2{
    font-size: 2rem;
}
.project-top-text-row{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 7px;
}
.project-container{
    gap: 50px;
    display: flex;
    justify-content: space-between;
}
.project-block-on-container{
    color: white;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    padding: 120px 20px 20px 20px;
    height: 100%;
    background-color:#1c1e53c1;
    position: absolute;
    left: 0;
    width: 100%;
    max-width: 350px;
    top: 0;
}
.project-block-row-icon{
    padding-top: 20px;
    color: 
    #FCD980;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}
.projecr-block{
    position: relative;
}
.project-on-right-block{
    padding: 80px 100px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    color: white;
    position: absolute;
    inset: 0;
    background-color: #1c1e53c1;
}
.project-left{
    position: relative;
} 
.project-left img{
    width: 100%;
}
.project-right img{
    width: 100%;
}
.projecr-block1{
    padding-top:50px;
}

/* ----Card-container---- */
.Card-Big-Container{
    padding: 50px 0;
    background-color: 
    #e4ebff;
}

.Card-container{
    justify-content: center;
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
}
.card p{
    padding: 10px 0px;
}
.card{
    background-color: white;
    padding: 30px;
    width: 100%;
    max-width: 400px;
}




/* ---Footer---- */
footer{
    background-color: #1C1E53;
    padding-top:50px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
}
.footer-left p{
    width: 100%;
    max-width: 400px;
}
.footer-left h2{
    font-size: 2rem;
}
.footer-left{   
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-bottom p , .footer-left p , .footer-right p{
    opacity: 0.7;
}
.footer-bottom{
    color: black;
    display: flex;
    gap: 40px;
    padding: 20px 130px 20px 20px;
    background-color:#FCD980;
}
.footer-botton-block{
    color: 
    #282938;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer-botton-block p{
    opacity: 0.7;
}
.footer-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px;
    color: #FFFFFF;
}
.footer-right h2{
    font-size: 2.5rem;
}
.footer-end{
    background-color: #FFFFFF;
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
}
.footer-end p{
    cursor: pointer;
}
.footer-end ul{
    display: flex;
    gap: 30px;
}
.footer-end ul a{
    color: 
    #282938;
    cursor: pointer;
}